*{	-webkit-transition: .7s ease-out;
 	-moz-transition: .7s ease-out;
 	-o-transition:  .7s ease-out;
 	transition: .7s ease-out;
    list-style: none;
}

/*================================
TYPOGRAPHY
================================*/
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.8em;
}

.bigicon {font-size: 3em;}
h2{font-size: 42px;}
h3{font-size: 28px;}
h4{font-size: 18px; line-height: 1.4em;}

p{
    letter-spacing: 1px;
    color: #c3c3c3;
    font-weight: lighter;
}


/*================================
DEFAULT STYLE & FORMATING
================================*/
ul{padding: 0;}
a{color: #ea9312;}
a:hover{color: #c3c3c3; text-decoration: none;}

#services{text-align: center;}
.col-md-4, .col-md-6{padding-bottom: 50px;}
.col-md-3 {padding: 0;}

.sectionhead{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

hr.separetor{
    width: 80px;
    color: #363942;
    border-top: 2px solid #ea9312;
}


.btn-default{
    background: none;
    border: none;
    text-transform: uppercase;
    margin: 50px 0;
    color: #c3c3c3;
    letter-spacing: 2px;
}

.btn-default:hover{
    background: none;
    color: #ea9312;
}

.btnicon, .brandicon{
    margin-right: 10px;
}


/*================================
HERO AREA
================================*/
#hero{
    color: #fff;
    text-align: center;
    background: url(../img/hero-background.jpg) no-repeat center; /*background image*/
    height: 880px;
    overflow: hidden;
    position:relative;
}

.herocontent{
    padding-top: 100px;
    width: 100%;
    max-width: 900px;
}
.heroshot{
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;

}
.overlay-hero{
    height:100%;
    background-color: #000;
    opacity:0;
    position:absolute;
    top:0;
    width:100%;
}

/*================================
CLIENTS SECTION
================================*/
#clients{
    padding-top: 30px;
}
#clients h4{
    text-transooteorm: uppercase;
    padding-top: 10px;
}

#clients .col-md-4{
    padding-bottom: 0;
}

#clients ul{float: right}

#clients li{
    display: inline;
    margin-right: 35px;
}

#clients li:last-child{
    margin-right: 0px;
}


/*================================
ABOUT SECTION
================================*/
#about{padding-top: 100px;}

.myapps{margin-top: 25px;}
.myapps li{display: inline}
.myapps li img{
    width: 40px;
    margin:5px;
    height:40px;
}

/*================================
PORTFOLIO SECTION
================================*/
#portfolio{
    background: #efefef;
    margin-top: 50px;
    padding: 30px 0;
    text-align: center;
    min-height: 100px;
}

#portfolioList li{
    width: 31%;
    float: left;
    padding: 15px;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
}

#portfolioList li:hover{
    box-shadow: 1px 2px 25px rgba(160, 160, 160, 0.4);
    -webkit-transition: .7s ease-out;
 	-moz-transition: .7s ease-out;
 	-o-transition:  .7s ease-out;
 	transition: .7s ease-out;
}

#portfolioList li img{
    width: 100%;
    border-radius: 5px;
}

#portfolioList img:hover{
    opacity: .5;
    overflow: hidden;
}

#portfolioList a:hover{color: #ea9312;}

#portfolioList h3{
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: normal;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;}

#portfolioList h3 a{color: #363942;}

.likecount a{float: left; color: #c3c3c3;}
.commentcount a{float: right; color: #c3c3c3;}

/*================================
TESTIMONIAL SECTION
================================*/

.testimonialphoto img{
    width: 80px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.testimonialphoto img:hover{
    border-radius: 15%;
}

blockquote{
    margin: 0;
    padding: 0 0 10px 0;
    border: none;
}

blockquote p{   
    font-style: italic;
    font-size: 14px;
}

.quote{overflow: hidden}
.quote h5{margin-bottom: 5px;}

/* CONTACT */
#map-canvas{
    height:400px;
    margin:0 auto;
    background:#CCC;
    margin-top:15px; 
}

h1, input::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

h1 {
  height: 80px;
  width: 100%;
  font-size: 18px;
  background: #FF9800;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

form {
  box-sizing: border-box;
  width: 260px;
  margin: 0 auto;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
}
form h1 {
  box-sizing: border-box;
  padding: 20px;
}

input, textarea {
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 5px;
  outline:none;
  border-bottom: solid 1px #FF9800;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
          transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #FF9800 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #FF9800 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}
textarea{
    border: solid 1px #FF9800;
    margin:25px;
    padding-top: 0;
    height:90px;
}
input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #FF9800;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}

button {
  border: none;
  background: #FF9800;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
button:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}


/* CONTACT END */


/*================================
FOOTER SECTION
================================*/

footer{
    text-align: center;
    padding: 50px 0;
    background: #363942;
}

footer p, footer .bigicon {color: #7e7e7e;}

.footerlinks{margin: 30px 0;}
.footerlinks li{
    display: inline;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footersocial {margin-top: 30px;}

.footersocial li{
    display:inline;
    padding: 0 15px;
    font-size: 2em;
}
.elevator-button{
    padding-left: 5px;
}
.icon-arrow-up, .elevator-button{
    font-size: 1.2em;
}
.footersocial li a {color: #7e7e7e;}
.footersocial li a:hover {color: #ea9312;}


.myportfolio-follow-button .count:hover {
    text-decoration: none;
}


/* AddThis overwrite styles */
.atss.atss-left.addthis-animated{
    top:50%;
    margin-top:-150px !important;
}
.at4-share-outer{
    display: none;
}
button.navbar-toggle{
  width:45px;
}